.horizontal-form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .mat-form-field {
    flex: 1 1 auto; 
  }
  
  button[type="submit"] {
    margin-top: 16px;
  }
  
  .form-field {
    margin-left: 20px;
    margin-top: 20px; 
  }
  
  .padding-top{
padding-top: 10px;
padding-left: 10px;
  }