<a routerLink="/addAppointment" routerLinkActive="active" class="mat-button primary padding">Add Appointment</a>
<div class="example-container mat-elevation-z8">
  <label class="padding">Note : Click on cell to edit</label>
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
               (page)="onPageChange($event)">
</mat-paginator>
    <table mat-table [dataSource]="dataSource">
      <!-- Define columns -->
      <ng-container matColumnDef="id" class="hidden-column">
        <th mat-header-cell *matHeaderCellDef [class.hidden-column]="hideColumn">ID</th>
        <td mat-cell *matCellDef="let element" [class.hidden-column]="hideColumn">{{element.appointmentID}}</td>
      </ng-container>
      <ng-container matColumnDef="accountID" class="hidden-column">
        <th mat-header-cell *matHeaderCellDef >Account ID</th>
        <td mat-cell *matCellDef="let element" >{{element.accountID}}</td>
      </ng-container>
      <ng-container matColumnDef="clientName">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let element">{{element.clientName}}</td>
      </ng-container>
      <ng-container matColumnDef="appointmentStartTime">
        <th mat-header-cell *matHeaderCellDef>Appointment Start Time<mat-icon>edit</mat-icon></th>
        <td mat-cell *matCellDef="let element; let i = index" (click)="onCellClick(i, 'start')">
          <ng-container *ngIf="selectedCellIndex !== i || selectedCellType !== 'start'; else editMode">
            {{ element.appointmentStartTime | date:'yyyy-MM-dd' }}
          </ng-container>
          <ng-template #editMode>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="editStartDateValue" (click)="stopPropagation($event)">
            <button mat-button (click)="saveDate(element, 'start')">Save</button>
            <mat-datepicker #startPicker></mat-datepicker>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="appointmentEndTime">
        <th mat-header-cell *matHeaderCellDef>Appointment End Time<mat-icon>edit</mat-icon></th>
        <td mat-cell *matCellDef="let element;let i = index" (click)="onCellClick(i, 'end')">
          <ng-container *ngIf="selectedCellIndex !== i || selectedCellType !== 'end'; else editMode">
            {{ element.appointmentEndTime | date:'yyyy-MM-dd' }}
          </ng-container>
          <ng-template #editMode>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="editEndDateValue" (click)="stopPropagation($event)">
            <button mat-button (click)="saveDate(element, 'end')">Save</button>
            <mat-datepicker #endPicker></mat-datepicker>
          </ng-template>
        </td>
      </ng-container>
      <ng-container matColumnDef="createddate">
        <th mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{element.createdDate | date:'yyyy-MM-dd'}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="openDeleteDialog(element.appointmentID,element.accountID)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  